
.fontCinzel {
    font-family: 'Cinzel', serif;
}
.fontMarcellus {
    font-family: 'Marcellus', serif;
}
.text--alignCenter {
    text-align: center;
}
.centerInXY {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
}
.centerInX {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div--padding {
    padding: 2%;
}
body {
    background-image: url(img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.seccion-back {
    background: transparent url('img/fondo_seccion.png') 0% 0% no-repeat padding-box;
    border-radius: 90px;
    background-size: cover;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),transparent);
}
.logoIndex {
    height: 139px;
}
.navbar {
    display: grid!important;
    align-content: center;
    justify-content: center;
}
.sectorLegal1 {
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding-inline-start: 80px
    }
    li {
        width: 100%;  
    }
}
.sectorLegal2 {
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding-inline-start: 0px
    }
    li {
        width: 100%;  
    }
}
//------------------------------------Seccion 3
.grid-contacto-item {
    display: grid;
    align-content: baseline;
    justify-content: space-evenly;
}
.icon-contacto {
    width: 30px;
}
.img-seccion3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    img {
        padding-right: 15%;
    }
}
.text-seccion3 {
    display: grid;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
}
footer {
    background-image: url(img/fondo_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacto-copyright {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: flex-start;
}
//----------------------------------------------------------------------------------------------RESPONSIVE
@media (max-width: 767px) {
    .logoSeccion1 {
        display: none;
    }
    .sectorLegal1 {
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none;
            padding-inline-start: 0px
        }    
    }
    .sectorLegal2 {
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none;
            padding-inline-start: 0px
        }
    
    }
    .img-seccion3 {
        justify-content: center;
        img {
            padding-right: 0%;
        }
    }
    .text-seccion3 {
        justify-content: center;
    }
    .contacto-copyright {
        display: flex;
        flex-flow: column-reverse wrap;
        align-content: center;
    }
}

@media (max-width: 1024px) {
    .contacto-whatsapp {
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        justify-content: center;
    }
    
}