html, body {
    min-height: 100vh;
}
.full25vh {
    min-height: 25vh;
}
.full50vh {
    min-height: 50vh;
}
.div-padding {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.carousel-control-next-icon {
    background-image: url(icon/Icon_right.png);
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}
.carousel-control-prev-icon {
    background-image: url(icon/Icon_left.png);
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}
.fontCinzel {
    font-family: 'Cinzel', serif;
}

.fontMarcellus {
    font-family: 'Marcellus', serif;
    
}
.logo-fontSize20 {
    font-size: 20px;
}
.logo-fontSize22 {
    font-size: 22px;
}
.fontSize18 {
    font-size: 18px;
}
.fontSize20 {
    font-size: 20px;
}
.fontSize22 {
    font-size: 22px;
}
.fontSize24 {
    font-size: 24px;
}
.fontSize30 {
    font-size: 30px;
}
.text--alignCenter {
    text-align: center;
}
.centerInXY {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
}
.centerInX {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-header-justify {
    justify-content: start;
}
.headerLink {
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: beige;
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
.nav-item {
    a{
        color: white;
        text-decoration: none;
        padding-right: .9rem!important;
        padding-left: .9rem!important;
    }
    a:hover {
        color: beige;
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
body {
    color: white;
    background-image: url(img/fondo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}
.seccion-back {
    background: transparent url('img/fondo_seccion.png') 0% 0% no-repeat padding-box;
    border-radius: 90px;
    background-size: cover;
    min-height: 65vh;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),transparent);
    min-height: 17.5vh;
}
.logoIndex {
    height: 139px;
}
.text-shadow{
    text-shadow: 2px 2px rgba(0,0,0,0.7);
}
.burger-menu {
    display: none;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    img {
        width: 25px;
    }
}
.menu-back {
    display: none;
    background-color: rgba(0,0,0,0.4);
}
.navbar {
    display: grid;
    align-content: center;
    justify-content: center;
}
.sectorLegal1 {
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding-inline-start: 80px
    }
    li {
        width: 100%;  
    }
}
.sectorLegal2 {
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding-inline-start: 0px
    }
    li {
        width: 100%;  
    }
}
//------------------------------------Seccion 3
.grid-contacto-item {
    display: grid;
    align-content: baseline;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.grid-contacto-whatsapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.icon-contacto {
    height: 18px;
}
.icon-contacto-seccion3 {
    width: 60px;
}
.img-seccion3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    img {
        padding-right: 15%;
    }
}
.text-seccion3 {
    display: grid;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
}
.mensajeFinalSeccion3 {
    font-size: 1.5rem;
}
.margin-final-seccion {
    margin-bottom: 2rem;
}
footer {
    background-image: url(img/fondo_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 17.5vh;
}
.btnContacto-footer {
    display: grid;
    align-content: space-evenly;
    justify-content: end;
    a {
        color: black;
    }
    a:hover {
        color: darkslategray;
        text-decoration: none;
    }
}
.contacto-qrWhatsapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 18;
    color: black;
}
.contacto-copyright {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: flex-start;
    color: black;
    a {
        color: black;
    }
    a:hover {
        color:brown;
        text-decoration: none;
    }
}
//----------------------------------------------------------------------------------------------RESPONSIVE
@media (max-width: 576px) {
    .text-header-justify {
        justify-content: center;
    }
    .logo-fontSize20 {
        font-size: 18px;
    }
    .logo-fontSize22 {
        font-size: 20px;
    }
    .menu-back {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap!important;
    }
    
}
@media (max-width: 767px) {
    .seccion-back {
        border-radius: 45px;
    }
    .logoSeccion1 {
        display: none;
    }
    .sectorLegal1 {
        text-align: center;
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none;
            padding-inline-start: 0px
        }    
    }
    .sectorLegal2 {
        text-align: center;
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none;
            padding-inline-start: 0px
        }
    
    }
    .img-seccion3 {
        justify-content: center;
        img {
            padding-right: 0%;
        }
    }
    .text-seccion3 {
        justify-content: center;
    }
    .margin-final-seccion {
        margin-bottom: 3rem;
    }
    .mensajeFinalSeccion3 {
        font-size: 1.4rem;
    }
    .contacto-copyright {
        display: flex;
        flex-flow: column-reverse wrap;
        align-content: center;
    }
    .contacto-qrWhatsapp {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar {
        display: none;
    }
    .burger-menu {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .menu-back {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: row wrap;
    }
    .contacto-whatsapp {
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        justify-content: center;
    }
    
}